.news-section{
    background-color: #2E58AF;
    padding: 5vw;
}

.news-page-container {
    padding: 5vw 10vw;
    color: white;
    background-color: black;
}

.news-title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}

.main-news {
    margin-bottom: 40px;
}

.main-photo {
    width: 100%;
    height: auto;
}

.news-date {
    font-size: 1rem;
    color: #777;
}

.news-description {
    margin-top: 20px;
    line-height: 1.6;
}

.news-gallery {
    display: flex;
    align-items: center;
}

.gallery-items {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.gallery-item {
    min-width: 200px;
    margin-right: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.date-box{
    border: 1px solid white;
    width: 150px;
    text-align: center;
}