.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px 30px 40px;
    background-color: var(--color-black);
}

.header-group {
    display: flex;
    align-items: center;
    position: relative;
}

.header-group:not(:last-child)::after {
    content: '';
    display: block;
    width: 3px;
    height: 60%;
    background-color: var(--color-blue);
    border-radius: 10px;
    position: absolute;
    right: -1.75vw;
    top: 20%;
}

.header-logo {
    width: 15vw;
}

.header-mail,
.header-chat {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.header-mail a {
    text-transform: uppercase;
}

.header-mail p a {
    font-size: 1vw;
}
nav a{
    color: var(--color-white);
    font-weight: 500;
}

.header-group p,
.header-group a{
    margin: 0;
    font-size: 1.3vw;
    line-height: 1.8vw;
}

.header-contact p a{

    font-weight: 500;
    font-size: 1.1vw;
}

nav{
    display: flex;
    gap: 3vw;
}

.header-nav p a{
    font-weight: 600;
    font-size: 2vw;
    line-height: 1.8vw;
}

.header-contact{
    flex-direction: column;
}

nav p a{
    color: var(--color-white);
    text-decoration: none;
}

nav a:hover {
    color: #A2A2A2;
}

.header-social,
.header-chat {
    gap: 1.5vw;
}

.header-social a {
    display: flex;
    align-items: center;
}

.header-social svg {
    height: 1.6vw;
    margin: 0;
    padding: 0;
    fill: var(--color-white);
}

.header-chat svg {
    height: 2.6vw;
    margin: 0;
    padding: 0;
    fill: var(--color-white);
}

@media (max-width: 600px) {

    .header-group{
        visibility: hidden;
    }
    .header-contact,
    .header-mail,
    .header-social {
        visibility: hidden;
    }

    .header-logo {

        width: 150vw;
    }

    .header {
        padding: 5vw;
    }

}

/*.header-icons a:hover svg {*/
/*    !*background-color: #A2A2A2;*!*/
/*    !*color: #A2A2A2;*!*/
/*    fill: #A2A2A2; !* Optional: Change color on hover *!*/
/*    !*fill: #ccc; !* Optional: Change color on hover *!*!*/
/*}*/



