/* src/components/Header.css */
.header {
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px 30px 40px;
    background-color: #000; /* Assuming the background color is black */
}

.header-logo {
    width: 15vw;
    /*height: 50px;*/
}

.header-social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /*justify-content: space-between;*/
    justify-content: center;
}

.header-social a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase; /* Make the text uppercase */
}

.header-contact p,
.header-social p,
.header-social p a,
.header-icons a {
    margin: 0;
    color: rgba(255, 255, 255, 1);
    /*font-family: 'custom_70326';*/
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 1.8vw;
}

.header-contact p a,
.header-social p a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.header-social p a:hover,
.header-contact p a:hover,
.header-icons a:hover {
    color: #A2A2A2;
}

/* src/components/Header.css */
.header-icons {
    display: flex;
    gap: 1.5vw;
}

.header-icons a {
    display: flex;
    align-items: center;
}

.header-icons svg {
    /*width: 15px;*/
    height: 1.5vw;
    fill: white;
}

@media (max-width: 600px) {
    .header-contact,
    .header-social,
    .header-icons {
        visibility: hidden;
    }
    .header-logo{

        width: 150vw;
    }
    .header{
        padding: 5vw;
    }

}

/*.header-icons a:hover svg {*/
/*    !*background-color: #A2A2A2;*!*/
/*    !*color: #A2A2A2;*!*/
/*    fill: #A2A2A2; !* Optional: Change color on hover *!*/
/*    !*fill: #ccc; !* Optional: Change color on hover *!*!*/
/*}*/



