.footer-container {
    background-color: black;
    color: white;
    padding: 40px 20px 10px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column p {
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer-column p a {
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.3s ease;
}

.footer-column p a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--color-white);
    margin-top: 0;
}

.footer-address {
}

.footer-nav {
    list-style: none;
    padding: 0;
}

.footer-nav li {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-nav a {
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: rgba(255, 255, 255, 0.5);
    /*color: #6299FF; !* Lighter blue on hover *!*/
}

.footer-social-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-social-links-part {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.footer-social-links a {
    margin: 0;
    color: var(--color-blue);
    text-decoration: none;
    font-size: 11px;
    transition: color 0.3s ease;
}

.footer-social-links a:hover {
    color: rgba(49, 97, 196, 0.8);
}

.footer-copyright {
    text-align: center;
    color: grey;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 920px) {
    .footer-column {
        min-width: 150px;
    }
}

@media (max-width: 800px) {
    .footer-social-links {
        flex-direction: row;
        gap: 40%
    }
    .footer-column {
        min-width: 250px;
    }
    .footer-logo {
        max-width: 50%;
    }
}

@media (max-width: 600px) {

    .footer-column {
        min-width: 200px;
    }
}
