.design-container {
    padding: 50px 5vw 5vw 5vw;
    /*background-color: black;*/
    background-color: rgb(49, 97, 196);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}

/*.design-title {*/
/*    font-family: 'Archivo Black', sans-serif;*/
/*    font-size: 50px;*/
/*    line-height: 1.2;*/
/*    margin-bottom: 20px;*/
/*    text-align: left;*/

/*    background: linear-gradient(90deg, lightblue, silver);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/

.design-title img {
    display: block;
    margin: 0 10vw 50px;
    text-align: left;
    width: 40vw;

}

.design-description {
    line-height: 1.2;
    font-size: 1.6vw;
    margin-bottom: 40px;
    text-align: left;
    max-width: 40%;
    margin-left: 10vw;
}

.design-container .highlight {
    color: black;
}

.design-blocks {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.design-block {
    width: 20vw;
    text-align: left;
    opacity: 0;
    animation: slideInFromBottom 1s ease-in-out forwards;
}

.design-block:nth-of-type(2) {
    animation-delay: 1s;
}

.design-block:nth-of-type(3) {
    animation-delay: 2s;
}

.design-block img {
    width: 60%;
    border-radius: 8px;
    position: relative;
}

.design-block-title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    margin: 20px 0 20px;
}

.design-block-text {
    font-size: 14px;
}

.design-number-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

@media (max-width: 600px) {
    .design-title img {
        margin: 0;
    }
    .design-description {
        margin-top: 20px;
        margin-left: 0;
        line-height: 1.2;
        font-size: 3vw;
        max-width: 80%;
        /*margin-bottom: 40px;*/
    }

    .design-block img {
        width: 80%;
    }
}
