.history-background-container {
    display: flex;
    justify-content: space-between;
    /*background-color: black;*/
    background-color: var(--color-blue);
    gap: 20px;
    padding: 50px 5vw;
}

.history-left-column {
    width: 45%;
    color: var(--color-white);
    position: relative;
}

.history-content {
    position: absolute;
    bottom: 0; /* Positioning the text block at the bottom */
    padding: 10px 20px 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.95); /* Semi-transparent background for better readability */
    /*max-width: 90%;*/
    width: auto;
    box-sizing: border-box;
    z-index: 2;
}

.history-content p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 11px;
    width: 100%; /* Ensure it takes up the full width */
    flex-wrap: wrap; /* Allow wrapping if necessary */
}

.history-content-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.history-content h2 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    transform: scaleY(0.8);
    font-weight: 400;
    font-size: 1.2vw;
    /*margin-bottom: 20px;*/
    margin: 0;
}

.history-content img {
    width: 10vw;
}

.history-content p {
    margin: 10px 0;
    font-size: 1.5vw;
}

.history-gallery {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    /*height: 500px;*/
    height: 100%;
}

.history-gallery img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    /*opacity: 0;*/
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.history-gallery img.active {
    opacity: 1;
    transform: translateX(0);
}

.history-gallery img.incoming {
    transform: translateX(100%);
}

.history-gallery img.outgoing {
    transform: translateX(-100%);
}

.prev-button-history,
.next-button-history{
    position: absolute;
    top: 45%;
    z-index: 2;
}

.prev-button-history {
    left: 10px;
}

.next-button-history {
    right: 10px;
}

.history-right-column {
    width: 55%;
    /*max-height: 600px;*/
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;

}

.history-block {
    display: flex;
    align-items: start;
    background-color: black;
    padding: 15px;
    margin-bottom: 20px;
    max-width: 65%;
    gap: 20px;
}

.history-block-number {
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    transform: scaleY(0.8);
    background: linear-gradient(20deg, #1A2B4D, #2E58AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-block-number {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.2vw;
    transform: scaleY(0.8);
    color: var(--color-blue);
    /*color: #2E58AF;*/
    line-height: 1;
    margin-right: 5px;
    /*background: linear-gradient(20deg, #1A2B4D, #2E58AF);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}


.history-text {
    font-size: 1.2vw; /* Adjust to match the number height */
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
    /*margin-left: 5px; !* Adjust spacing between number and text *!*/
}

.years-label, .projects-label {
    display: flex;
    /*width: 25%;*/
    /*display: inline-flex;*/
    align-items: center;
    margin-right: 10px; /* Spacing between the two labels */
    white-space: nowrap; /* Prevent line breaks between the number and its text */
    flex: 1;
}


.background-history-logo-mobile{
    display: none;
}
.background-history-logo-pc{
    display: block;
}

.background-block-number, .history-text{
    display: block; /* Ensures the text remains in two lines */
}

.history-block-content {
    max-width: 70%;
}

.history-block h3 {
    padding: 0;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.2vw;
    margin: 0 0 10px;
}

.history-block p {
    font-size: 1vw;
    margin: 0;
}

.history-block-1 {
    margin-left: 5%;
}

.history-block-2 {
    margin-left: 15%;
}

.history-block-3 {
    margin-left: 25%;
}

@media (max-width: 850px) {
    .history-background-container {
        flex-direction: column;
        padding: 20px 5vw;
    }

    .history-left-column,
    .history-right-column {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
        position: relative;
    }

    .history-right-column{
        padding: 10vw 2.5vw;
    }

    .history-gallery {
        position: relative;
        width: 100%;
        height: auto; /* Allow the gallery to adjust its height */
    }

    .history-gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: relative;
        /*position: static; !* Ensure images are positioned within the flow of the document *!*/
    }

    .history-content {
        position: relative; /* Change to relative positioning */
        margin: 0;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.85); /* Adjust background for readability on mobile */
    }

    .history-content p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap; /* Ensure everything stays in one row */
        width: 100%; /* Ensure it takes up the full width */
        font-size: 3vw;

    }

    .history-content h2 {
        font-size: 5vw; /* Adjust title size for mobile */
    }

    .history-content img {
        width: 20vw; /* Adjust image size for mobile */
    }

    .history-block {
        max-width: 100%;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        /*margin-left: 2.5vw;*/
        /*margin-right: 2.5vw;*/
    }

    .history-block h3 {
        font-size: 3.5vw; /* Adjust font size for mobile */
    }

    .history-block p {
        font-size: 2.4vw; /* Adjust font size for mobile */
    }

    .background-history-logo-mobile{
        display: block;
        width: 12vw; /* Adjust based on desired size */
        margin-left: 0; /* Space between logo and text */
        align-self: center; /* Center vertically in the row */
    }

    .background-history-logo-pc{
        display: none;
    }
    .years-label, .projects-label {
        flex: 1; /* Allow labels to grow and take up equal space */
        display: flex;
        align-items: center;
        margin-right: 5px; /* Adjust spacing between elements */
        white-space: nowrap; /* Prevent line breaks between the number and its text */
    }

    .background-block-number {
        font-family: 'Archivo Black', sans-serif;
        font-size: 6vw;
        transform: scaleY(0.8);
        line-height: 1;
        margin-right: 5px;
    }

    .history-text {
        font-size: 2.5vw;
        line-height: 1.2;
        vertical-align: middle;
    }

    .background-history-logo-pc {
        display: none;
    }
}
